:root {
    --primary-color: #f6f9fa;
    --secondary-color: #1f3368;
    --tertiary-color: rgb(97, 136, 161);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-size: 20px;
  }
  
  header {
    padding: 20px;
    background-color: rgb(97, 136, 161);
    text-emphasis-color: (var(--tertiary-color));
    text-align:left;
    font-size: 2rem;
    color:var(--primary-color)
  }
   
    h1 {
    font-weight:bold;
    font-size: 36px;
    color:var(--tertiary-color);;
    margin: auto;
    display:flexbox;
   text-align:center;
  }
  
  .team-members img{
    width: 35%;
    float: left;
  }
  
.container {
  align-content:space-between;
}

  .member-bio {
    display:flexbox;
    padding: 5px 50 px;
    margin:auto;
    float:initial;
    width: 800px;
    align-items:center;
    color:var(--tertiary-color);
  
  }
  
  .text-left {
    text-align: left;
    display:flexbox;
  }
  
  .text-right {
    text-align: right;
    display:flexbox;
  }
  
  .member-bio h3 {
    font-size: 32px;
    margin-bottom: 8px;
    align-content:center
    var(--tertiary-color);
    display:inline-block;
  }
  
  .member-bio h4 {
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 25px;
    align-content:center;
    color:var(--tertiary-color);
    display:flexbox;
  }
  
  .member-bio p{
    font-size: 17px;
    margin-bottom: 17px;
    align-content:center;
    color:var(--tertiary-color);
    display:flexbox;
  }
