:root {
  --primary-color: #f6f9fa;
  --secondary-color: #1f3368;
  --tertiary-color: rgb(97, 136, 161);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-size: 20px;
}

/* navigation */
nav {
  background-color: var(--tertiary-color);
}

nav ul a {
  font-size: 25px;
  text-decoration: underline;
}

h1 {
  font-family: Bradley Hand, cursive;
  font-size: 50px;
  color: white;
  text-shadow: 7px 7px #0a043b;
}

header a {
  text-decoration: underline;
  color: var(--primary-color);
}

p {
  text-align: center;
  color: white;
  text-size-adjust: initial;
  font-family: Bradley Hand, cursive;
  text-shadow: 1.5px 1.5px #0a043b;
  font-size: 30px;
  margin: 0 auto 35px auto;
  width: 70%
}

.carousel {
  color: white;
  text-shadow: 1.5px 1.5px #0a043b;
  margin: 0 auto;
  font-family: Bradley Hand, cursive;
}

.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
}

.modal p {
  text-shadow: none;
  color: black;
}

/* footer */
#continent {
  display: block;
  text-align: center;
  background: var(--tertiary-color);
  opacity: 0.8;
}

#continent a {
  color: white;
  font-size: 18px;
}

#continent h1 {
  color: white;
  font-size: 30px;
  text-shadow: 1.5px 1.5px #0a043b;
}

#continent a:hover {
  font-size: 1.5rem;
}

a {
  padding: 20px 20px;
}

a:hover {
  font-size: 20px;
}

.cont:hover {
  color: var(--secondary-color);
  font-size-adjust: 20px;
  text-decoration: underline var(--tertiary-color);
  border-radius: 10px;
  text-shadow: none;
}
